.subjects-text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'zing-rust-demo-base', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 50px;
}


.upload-container {
    position: relative;
}

.file-list {
    font-family: 'Poppins';
    max-height: 1000px; /* Adjust the height as needed */
    overflow-y: auto;
}

.collapsible-header{
    background-color: #11813A;
    font-weight: 700;
    color: white;
}

.collapsible-header:hover {
    background-color: #146833;
}